@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
* {

    margin: 0;
    padding: 0;
}

@keyframes smooth-blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  
  .animate-smooth-blink {
    animation: smooth-blink 1.5s infinite;
  }
  .shadow-logo {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  
.theme-switcher-wrapper {
    position: absolute;
    top: 5%;
    right: 40px;
    margin-left: 10px;
}



.theme-switcher input {
    display: none;
}

.theme-switcher {
    box-sizing: border-box;
    transition: 0.5s;

}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-label {
    width: 85px;
    height: 30px;
    border-radius: 999px;
    background: #EEEFF2;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    position: relative;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
        -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: left 0.5s, transform 0.5s, background-color 0.5s, box-shadow 0.5s;
    /* Ajout de la transition */
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFD600;
    opacity: 1;
}

.moon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
}

.circle:active {
    width: 20px;
}

input[type=checkbox]:checked+.toggle-label {
    background: #1F1F21;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;

}

input[type=checkbox]:checked+.toggle-label .circle {
    left: 100%;
    transform: translate(-110%, -50%);
    background: #2C2C2F;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
        -10px -10px 30px rgba(0, 0, 0, 0.5) inset;
    transform: translate(-110%, -50%) rotateY(180deg);
}

input[type=checkbox]:checked+.toggle-label .circle .sun {
    margin-top: 150%;
    opacity: 0;
}

input[type=checkbox]:checked+.toggle-label .circle .moon {
    margin-top: 0%;
    opacity: 1;
}


.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 0;
    pointer-events: none;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_input {
    width: 75%;
    height: 50px;
    border-radius: 10px;
    padding-left: 25px;
    border: 1px solid #E0E0E0;
    outline: none;
}

.form_input::placeholder {
    color: #A3AED0;
    font-size: 15px;
    font-weight: 400;
}


.buttonlog {
    width: 70%;
    height: 50px;
    border-radius: 10px;
    background-color: #4318FF;
    outline: 0;
}

.grid-center {
    display: grid;
    place-items: center;
}

.checkbox-wrapper {
    display: flex;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    cursor: pointer;
    width: 29px !important;
    height: 20px !important;
    border: 1.5px solid #E0E0E0 !important;
    border-radius: 15% !important;
    background-color: #fff;
    outline: none;
    transition: all 0.2s ease-in-out !important;
}

input[type="checkbox"]:checked {
    border-color: #fff !important;
    background-color: #4318FF !important;
    transform: scale(1.1) !important;
}

.password_input {
    display: flex;
    position: relative;
    align-items: center;
}


@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }
}

/*Dasboard*/

/* .menudash {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    padding: 20px;
    overflow-y: auto;
    transition: width 0.3s ease;
} */

/* .contentdash {
    margin-left: 20%;
    width: 80%;
    padding: 20px;
    transition: margin-left 0.3s ease;
    overflow-y: auto;
} */
.scroll-y-0 {
    overflow-y: scroll;
}

/* .scroll-y-0::-webkit-scrollbar {
    display: none;
} */
.menudash {
    width: 17%;
    padding: 20px;
    min-height: 100vh;
}

.contentdash {
    width: 80%;
    padding: 20px;
    transition: margin-left 0.3s ease;
   
}



.menudash.collapsed {
    width: 6%;
    font-size: 13px;
}

.contentdash.collapsed {
    margin-left: 7%;
    margin-right: auto;
}


    

.collapsed .text {
    display: none; /* Cache le texte */
  }
  
  .collapsed .containerlink {
    width: 50px; /* Ajuste la largeur pour correspondre à l'icône uniquement */
  }
  
  .containerlink {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out; /* Transition douce lors de l'expansion/réduction */
  }
  
  .text {
    margin-left: 10px;
    transition: opacity 0.3s ease-in-out; /* Transition sur l'opacité pour un effet de fondu */
  }
  

.wrapperdash {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.maindash {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.side {
    flex: 1;
}


/*navbar*/

.containernav {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.titlenav {
    color:  #3C3F4A;
    font-size: 14px;
    text-transform: capitalize;
}

.menunav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchcont {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}

.inputnav {
    background-color: transparent;
    border: none;

}

.iconsnav {
    display: flex;
    gap: 20px;
    color:  #3C3F4A;
}


/* sidebar link css*/

.containerlink {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    color:  #1B2559;
}


.containerlink:hover,
.active {
    /* background-color: #593DFF; */
        /* color: white; */
    background-color: #EEEFF2;

    color: #1B2559;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
  }

  
  .modal-container {
    background: white;
    width: 50%;
    max-width: 550px;
    height: 100%;
    padding: 25px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
   
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-layout {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    
  }
  
  .form-input2 {
    margin-bottom: 20px;
  }
  
  
  .form-input2 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
.form-input2 input,
select {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
  
  .espace{
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
  }
  .close-button {
    font-size: 1.5rem;
    cursor: pointer;
    background: whitesmoke;
    padding: 5px;
    border-radius: 20px;
    margin-left: auto;
  }
  
  .modal-content {
    margin-top: 20px;
  }
  
  .form-layout {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-row {
    display: flex;
    
  }

.usercontainer {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.userImage {
    border-radius: 50%;

}

.userDetail {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    color: #1B2559;
}

.userTitle {
    font-size: 12px;
    color: #A3AED0;
    font-weight: 500;
}

.logout {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    color: #A3AED0;
}

.logout:hover .actve {
    background-color: #593DFF;
    color: white;
}

.max-h-screens {
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
  }
  
  .max-h-screen {
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
  }
  

/*tablepatient css */
.containerpatient {
    margin-top: 20px;
    background-color: #F9FAFA;
    padding: 20px;
    border-radius: 10px;
}

.titlepatient {
    margin-bottom: 20px;
    color: #1C1D22;
}

.table {
    width: 100%;
}

.table td {
    padding: 10px;
}

/* Administration */
.containeradmin {
    background-color: #F9FAFA;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
}

.topadmin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.addButtonuser {
    padding: 8px;
    background-color: #2a79d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tableUser {
    width: 100%;
}

.tableUser td {
    padding: 10px;
}


.buttonsuser {
    display: flex;
    gap: 10px;
}

.buttonuser {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.buttonview {
    background-color: teal;
}

.buttondelete {
    background-color: crimson;
}

/*search css*/
.containersearch {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F4F7FE;
    padding: 7px;
    border-radius: 10px;
    width: 30%;
}

.inputsearch {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}

/* pagination */
.containerpagination {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.buttonpagination {
    padding: 8px;
    cursor: pointer;
    color: white;
    background-color: #593DFF;
    border-radius: 5px;
}

.buttonpagination:disabled {
    cursor: not-allowed;
    opacity: 70%;
}

/* FaceDetection.module.css */
.webcamContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.webcam {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Tailwind Styles */

.app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.desc {
    @apply mt-5 text-[16px] text-violetdesc font-dm_sans font-regular;
}

.search_input {
    @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-dm_sans pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}


.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

input {
    @apply px-2;
}

.fc-header-toolbar {
    display: inline-block;
    padding: 4px 4px;

    @apply space-x-8;
}

.fc-day {
    @apply m-8;
}

.fc-scrollgrid-sync-table {
    @apply w-full;
}

.fc-view {
    @apply w-full h-full bg-white;
}

.fc-h-event {
    @apply bg-[#593DFF] border border-violet-600;

}

.fc .fc-daygrid-day.fc-day-today {
    @apply bg-[#F4F7FE];
}

.fc .fc-button {
    @apply bg-[#593DFF] hover:bg-[#6AD2FF] border-none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    @apply bg-[#6AD2FF];

}

.fc .fc-button-primary:disabled {
    @apply bg-[#6AD2FF];
}

.fc-v-event {
    @apply bg-[#593DFF];

}